<p>listar-tarjeta works!</p>
<div class="card">
    <div class="card-body">
        <h5 class="titulo">LISTAR TARJETA</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Edgar Lao</td>
                    <td>1234567812345678</td>
                    <td>01/23</td>
                    <td>
                        <i class="far fa-solid fa-pen-to-square text-info"></i>
                        <i class="far fa-solid fa-trash-can text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
