<app-spinner *ngIf="bLoading"></app-spinner>

<div *ngIf="!bLoading" class="row row-cols-1 row-cols-md-4 g-4">
  <div *ngFor="let imagen of listImagenes" class="col mb-2">
    <div class="card">
      <img [src]="imagen.previewURL" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <a [href]="imagen.largeImageURL" target="_blank" class="btn btn-primary">Ver imagen</a>
      </div>
      <div class="card-footer text-muted text-center">
          <div class="row">
              <div class="col">
                  <p class="likesViews">Likes</p>
                  <span class="badge badge-light">{{imagen.likes}}</span>
              </div>
              <div class="col">
                  <p class="likesViews">Views</p>
                  <span class="badge badge-light">{{imagen.views}}</span>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="listImagenes.length > 0" class="d-flex justify-content-center mt-2">
  <div>
    <ul class="pagination pagination-lg">
      <li class="page-item" *ngIf="pagina > 1">
        <a class="page-link" (click)="pagAnterior()">&laquo; Anterior</a>
      </li>
      <li class="page-item" *ngIf="pagina < totalPaginas">
        <a class="page-link" (click)="pagPosterior()">Siguiente &raquo;</a>
      </li>
    </ul>
  </div>
</div>